body{
    margin: 0;
background-color: #f2f6ff;
}
#topbar{
width: 100%;
height: 62px;

}

#logo{
    color: #0086ff;
    font-size: 32px;
    letter-spacing: -1px;
    font-weight: 900;
    margin-right: 48px;
    font-family: 'Raleway', sans-serif;
}

.menu-item{
    margin: 0;
    margin-right: 24px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    cursor: pointer;
    font-size: 14px;
    position: relative;
    top: -5px;
}

#wrapper{
    width: 300px;
    height: 300px;
    background-color: lightblue;
    margin-top: 100px;
    margin-left: 80px;
    position: relative;
    top: -5px;
 }

#mountain-img{
    width: 300px;
    height: 300PX;
    background-color: lightcoral;
    position: absolute;
   bottom: 0;
   right: 0;
}

.article-pic{
width: 300px;
height: 300px;
float: left;
margin-right: 16px;

}

article{
    padding-bottom: 48px;
    line-height: 1.4;
    font-size: 24px;
}
#second-img{
    float: right;
    margin-left: 16px;
}

#article-wraper{
padding: 2% 4%;
}

