/* h1{
    color: blue;
    text-align: center;
    font-style: italic;
text-decoration: none;
}

p{
    color: brown;
    text-align: justify;
    font-weight: 600px;
    text-transform: capitalize;
    letter-spacing: 1px;
    word-spacing: 0px;
    line-height: 2;
    font-family: 'Roboto', sans-serif;

} */

#second-para{

    border: 3px solid blue;
    padding: 16px 20px 24px 28px ;

    margin-top: 48px;
    margin-right: 24px;
    margin-bottom: 132px;
    margin-left: 60px;
    margin: 48px 24px 32px 60px;
    margin: 48px 60px 48px 60px;
}